/*
author: Jiayao;
*/
/*
========================================
Typography
========================================
*/

h1, h3, h4, h5, p, section {
	/*margin-bottom: 22px;*/
	/*font-size: 17px;*/
	text-indent: 0px;
	word-spacing: ;
}


.nav {
	text-align: center;
	padding: 5px;
	line-height: 30px;
	padding-left: 0px;
	/*display: inline-block;*/
	max-width: 800px;
	/*border: solid;*/
	/*box-shadow:0px 0px 5px gray;*/
	margin: 0 auto;
}
.nav-ele {
	padding: 5px;
	font-family: Georgia;
	border-bottom: 1px solid rgb(205,205,205,0.8);
}
.nav-logo {
	font-family: Georgia;
	display: inline-block;
	text-align: center;
	/*border: solid;*/
	width: 50px;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: tomato;
}
#nav-logo-id {
	color: white;
}
.nav-right {
	text-align: center;
	display: inline-block;
	max-width: 700px;
	padding-left: 5px;
	padding-right: 5px;
	/*border: solid;*/
}

header {
	position: fixed;
	width: 100%;
	/*background: whitesmoke;*/
	top: 0px;
}
body {
	/*padding: 5px;*/
	/*background-color: skyblue;*/
}
main {
}
footer {
	text-align: center;
	width: 100%;
	height: 30px;
	/*position: fixed;*/
	bottom: 0px;
	left: 0px;
	/*background: aliceblue;*/
	border-top: 1px solid lightgray;
	/*flex: 0 0 auto;*/
	background: white;
	opacity:0.5;
}
h1 {
	font-family: Georgia;
	font-size: 26px;
	/*border: solid;*/
	margin-top: 0px;
}
h2, h3, h4, h5 {
	padding-left: 2px;
}
h2 {
	margin-bottom: 10px;
	font-size: 22px;
}
h3 {
	margin-bottom: 5px;
	font-size: 18px;
}
p {
}
section {
	/*border: solid;*/
	/*---whether change the global font---*/
	/* "Segoe UI" */
	/**/
	font-family: Calibri,"Segoe UI","Times New Roman";
}
/*p {
	font: italic small-caps bold 14px/22px "Helvetica Neue",Helvetica, Arial, sans-serif;
}*/

.welcome {
	/*background: #466368;*/
	margin: 0px;
	/*border: solid #949599;*/
	padding: 50px;
	padding-left: 30px;
	padding-bottom: 30px;
	background: #648880;
	/*background: linear-gradient(to right, #f6f1d3, tomato);*/
	background: aliceblue;
	background: mediumorchid;
	background: mediumpurple;
	background: linear-gradient(to top right, #f6f1d3, mediumpurple);
	background: linear-gradient(to top right, #f6f1d3, dodgerblue);
	background: linear-gradient(to top right, #f6f1d3, tomato);
	background: lavender;
	background: whitesmoke;

}
#welcome-quate {
	color: tomato;
	color: darkslateblue;
	text-transform: uppercase;
	font-size: 12px;
}
.welcome-title {
	font-size: 30px;
	font-family:  /*cursive;system-ui*/
}


a {
	text-decoration: none;
	color: dimgray;
}
a:hover {
	color: tomato;
	/*font-size: 30px;*/
}
a.hovernone:hover {
	color: black;
}

.p-para {
	text-indent: 2em;
	/*padding-left: 10px;
	padding-right: 10px;*/
}

.col {
	padding: 50px;
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 30px;
	/*border: solid gray;*/
}
.intro-box {
	/*display: inline-block;*/
	margin-top: 20px;
	margin-bottom: ;
	/*width: 80%;*/
	/*width: 45%;*/
	border: 1px solid rgb(205,205,205);
	border-left: 6px solid rgb(205,205,205,0.8);
	/*border-left: 6px solid tomato;*/
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	background: ;
	/*box-shadow: 6px 6px 2px rgba(255,127,80,.9);*/
}
.intro-box:hover{
	/*background-color: tomato;*/
	background-color: lightgray;
	color: black;
}

.column {
	display: inline-block;
	/*border: solid;*/
	vertical-align: top;
	/*max-width: 520px;*/
}

.cv-time {
	width: 80px;
	color: dimgray;
}
.cv-edu {
	max-width: 520px; /* this is for short and long screen! */
}


/*
========================================
Buttons
========================================
*/

.btn {
	border-radius: 5px;
	display: inline-block;
	margin: 0;
}

.btn-alt {
	border: 1px solid #dfe2e5;
	padding: 10px 30px;
}

/* button in contents */
.button {
	border-radius: 5px;
	/*background-color: tomato;*/
	background-color: black;
	display: inline-block;
	padding: 10px;
	margin: 5px;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}
.button a {
	color: white;
}
.button a:hover {
	color: white;
}

/*
===================================
other pages
===================================
*/
.paragraph {
	margin: 0 6px 0px 0;
	padding-left: 40px;
	padding-top: 20px;

}
.para-content {
	padding-left: 10px;
	padding-right: 10px;
}

.p-compact {
	margin-top: 4px;
	/* the paragraph after h3 */
	margin-bottom: 6px;
	text-align: justify;
}
